@@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
/* #contacthome{
background-image: url("../images/contactus.png");
padding-bottom: 20rem;
background-size: contain;
background-repeat: no-repeat;
background-color: #E8F9FF;
} */
nav {
position: relative;
z-index: 99;
/* justify-content: space-between; */
align-items: center;
/* border-bottom: 2px solid #5F9DF7; */
background-color: #E8F9FF;
/* text-align: left; */
padding: 3rem 4rem;
}
.logoa{
padding: 0 4rem;
padding-left: 0;
}
.logo{
width: 100px;
float: left;
margin-top: -20px;
}

/* nav img {
padding-top: 1.5rem;
padding-bottom: 1rem;
width: 100%;
} */

/* .menu {
display: none; */
/* align-items: center; */
/* margin: 0; */
/* margin-right: 15rem; */
/* font-family: "Cherry Bomb One"; */
/* text-align: left; */
/* margin-left: -10rem; */
/* float: left;
align-items: left;
} */
.menu{
display: none;
align-items: center;
text-align: left;
font-family: "Titan One";
float: left;
margin: 0;
padding: 0;
}

.buynow{
/* margin-left:  10rem; */
background-color: #fff;
font-weight: 600;
padding: 8px 20px;
border-radius: 99px;
text-decoration: none;
font-family: "Titan One";
text-align: right;
float: right;
}
.buynow a{
text-decoration: none;
color: #FF80B5;
text-align: right;
}

.menu a{
/* margin-top: 0 ;
margin-bottom: 0; */
font-weight: 600;
text-decoration: none;
transition: 0.4s;
padding: 0 20px;
/* border-radius: 99px; */
color: #FF80B5;
float: left;
margin: 0;
/* text-align: left; */
}

.menu a.is-active, .menu a:hover{
/* background-color: #5F9DF7; */
color: #D91E64;
}
.hamburger {
appearance: none;
outline: none;
border: none;
background: none;
cursor: pointer;

display: block;
width: 2rem;
height: 2rem;
}

.hamburger span {
color: #FF80B5;
font-size: 3rem;
}

.mobile-menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 98;
padding-top: 6rem;
opacity: 0;
transform: translateY(-100%);
background-color: #E8F9FF;
color: #FFF;
transition: 0.3s;
}

.mobile-menu.is-open {
opacity: 1;
transform: translateY(0);
}

.mobile-menu a {
display: block;
padding: 1rem;
color: #FF80B5;
text-align: center;
text-decoration: none;
font-size: 1.25rem;
transition: 0.3s;
font-family: "Titan One";
}

.mobile-menu a:hover {
color: #D91E64;
background-color: #E8F9FF;
}


/* HOME SECTION */

#contact-home{
  padding: 4rem;
  padding-bottom: 3.5rem;
  background-color: #E8F9FF;
}
#contact-home h1{
  font-family: "Titan One";
  color: #FF80B5;
  font-size: 4rem;
}
.contact-background{
  /* width: 100%; */
  width: 100%;
}
.hide{
  visibility: hidden;
}
.about2{
  margin-top: -3rem;
}

/* CONTACT SECTION */

.backgroundimage
{
    /* background-image: url(../images/contactbackground.png); */
    /* width:80%; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* padding-bottom: 80px; */
    /* filter: brightness(110%); */
}
.contact-headding{
  padding-top: 100px;
  font-size: 4rem;
  color: #D91E64;
  font-family: "Titan One";
}
.form{
  background-color: #E8F9FF;
  padding: 7% 8%;
  margin: 150px 8% 100px;

}
.div1{
  text-align: left;
}
.text1
{
    font-family: helvetica;
    font-size: 18px;
    color:#666666;
}
.text2
{
    font-family:helvetica;
    font-size: 35px;
    color:black;
}
.text3
{
    font-family:helvetica;
    font-size: 18px;
    color:#666666;
}
.pink-line{
  width: 100px;
  height: 2px;
  background-color:#D91E64;
  margin-bottom: 40px;
}
.div2{
  text-align: right;
}
.icons{
  /* border: 2px solid #f1f1f1; */
  border: 2px solid #D91E64;
  padding: 10px;
  border-radius:4px;
  margin-right: 10px;
  margin-bottom: 30px;
}
.icons:hover{
  color: #D91E64;
}
.register_inputs{
    color: gray;
    padding: 15px;
    width: 90%;
    font-family: helvetica;
    font-size: 15px;
    background: transparent;
    border-radius: 4px;
    border: transparent;
    border: 2px solid #D91E64;
    transition: 2s;
    margin-bottom: 20px;
}
.register_inputs:focus{
    width: 80%;
}
.message{
  width: 90%;
  height: 200px;
  font-family:helvetica;
  font-size: 15px;
  background: transparent;
  border-radius: 4px;
  border: transparent;
  border: 2px solid #D91E64;
  transition: 2s;
  margin-bottom: 20px;
  padding: 15px;
}
.message_submit{
  padding: 10px 20px;
  background-color: #D91E64;
  font-family:helvetica;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.message_submit:hover{
  background-color: rgb(0,66,130);
}


/* GALLERY SECTION */

#galleryy{
  padding: 4rem 2rem;
}
.galleryy{
  width: 100%;
}

/* FOOTER SECTION */

#footer{
  padding: 5rem 10rem;
  background-color: #E8F9FF;
}
#footer h2, h4{
  font-family: "Titan One";
  font-weight: 800;
  font-size: 3rem;
  color: #FF80B5;
}
#footer h2{
  color: #D91E64;
  font-size: 3.5rem;
}
#footer h5{
  margin-top: 4rem;
  font-size: 18px;
}
#footer i{
  text-align: right;
  padding: 10px;
  background-color: #FF80B5;
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
}
#footer i:hover{
  background-color: #fff;
  color: #FF80B5;
}
.footer2{
  text-align: right;
}
#bottom-footer{
  background-color: #E8F9FF;
  padding: 1rem 0;
  text-align: center;
}

.footer-line{
  padding: 0.5px 0;
  background-color: #FF80B5;
}
.bottom-footer p{
  margin: 3rem 0;
  color: #b3b3b3;
}


/* MEDIA SECTION */

@media (min-width: 768px) {
	.mobile-menu, .hamburger {
		display: none;
	 }

	.menu {
		display: flex;
    }
	}
  @media (max-width: 768px){
    .buynow{
      display: none;
    }
    body{
     align-items: center;
     text-align: center;
   }
   nav{
     justify-content: space-between;
     display: flex;
   }
   .logoa{
     width: 30%;
   }
   form, .div2, .div1, .pink-line, .footer2{
     text-align: center;
     align-items: center;
   }
    .homeicecream{
      margin-top: 0;
      margin-left: 0;
    }
    .homecircle{
      margin-left: 0;
    }
    #contact-home{
      padding-top: 0;
    }
    #footer{
      padding: 4rem 4rem;
    }
    .footer2{
      padding-top: 15px;
    }

  }
